body {
  /* min-height: 50rem; */
  padding-top: 4.5rem;
  background-color: #e4f1f5;
}

.result{
    overflow: auto;
}

/* .Back1{
    background-image: url(../../media/background1.jpg);
    min-height: 100%;
} */
